#accepting_div{
  border:1px solid rgb(0,0,0);
  height:40%;

}
.acc{
  border:1px solid rgba(0,0,0,0.4);
  font-size: 110%;
  padding:2%;
  transition-duration:0.2s;
  cursor:pointer;
}
.acc:hover{
  background-color:#ccc;
}
