
html{
  overflow-x:hidden;
  z-index:1;
}
body{
  background: linear-gradient(0deg, #BF0426, #2E62A6, #2A6DA6, #D9043D) fixed;
  background-size:100% 200%;
  animation: moving_background 30s ease infinite;
}
#home{
  font-family: 'Oxygen';

}
@keyframes moving_background {
  0%{background-position: 100% 0%;}
  50%{background-position: 100% 100%;}
  100%{background-position: 100% 0%;}
}
#trophy_img{
  width:30%;
}
#trophy{
  left:75%;
  top:5%;
  font-size: 170%;
  position:fixed;
  color:white;
}
#clicks{
  margin-top:34rem;
  width:70%;
  font-size: 6rem;
  cursor: pointer;
}
#button_single{

  background-color: #F2F2F2;
  border-radius:12rem 0rem 0rem 12rem;
  padding:5% 0%;
  transition-duration:0.2s;
  color:#BF0426;
  border:none;
}
@keyframes single_transition {
  100%{width:10%;font-size:3rem;}
}
#button_single:hover{
  filter: drop-shadow(0 0px 15px white);
}
#single_match{
  display:none;
  background-color: rgba(255,255,255,0.6);
  height:40rem;
}
#button_multi{
  background-color: #BF0426;
  border-radius: 0rem 12rem 12rem 0rem;
  transition-duration:0.2s;
  color:#F2F2F2;
  padding:5% 0%;
  border:none;
  }
  @keyframes mult_transition {
  100%{width:0%;}
  }#button_multi:hover{
  filter: drop-shadow(0 0px 15px #BF0426);
}

#logout{
  position:fixed;
  font-size:300%;
  color:white;
  top:82%;
  left:45%;
  transition-duration:0.3s;
  padding:1% 2%;
  border-radius:50rem;
  background-color:#00B2EE;

}
#logout:hover{
  text-decoration: none;
  left:44%;
  top:81%;
  font-size: 400%;
}
#admin{
  position:fixed;
  background-color:#D9043D;
  color: #F2F2F2;
  top:5%;
  z-index:2;
  border-radius:2rem;
  padding:2% 2%;
  font-size:200%;
  display:none;
}
