
html{
  overflow-x:hidden;
  z-index:1;
}
body{
  background: linear-gradient(0deg, #BF0426, #2E62A6, #2A6DA6, #D9043D) fixed;
  background-size:100% 200%;
  animation: moving_background 30s ease infinite;
}
#home{
  font-family: 'Oxygen';

}
@keyframes moving_background {
  0%{background-position: 0% 0%;}
  50%{background-position: 100% 100%;}
  100%{background-position: 0% 0%;}
}

::-webkit-scrollbar {
  background-color: rgba(0,0,255,0);
    width: 0px;
  opacity:0.5;
    //border-radius: 70px;
}

/* Track */
::-webkit-scrollbar-track {
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#171717;
  opacity:0.5;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 70px;
    border-radius: 70px;
    background: rgba(255,0,0,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

#trophy_img{
  width:30%;
}
#trophy{
  left:75%;
  top:5%;
  font-size: 170%;
  position:fixed;
  color:white;
}
#countdown{
  position:fixed;
  border-radius:50rem;
  padding:2% 2.7%;
  background-color:#F2F2F2;
  top:60%;
  left:-15%;
  color:red;
  font:bold 300% Bahiana;
  z-index:1;
  box-shadow:0px 0px 7px blue;
}
@keyframes show_countdown {
  0%{left:-15%}
  100%{left:15%}
}
#clicks{
  margin-top:10rem;
  width:70%;
  font-size: 6rem;
  cursor: pointer;
}
@keyframes clear_text {
  @0%{font-size: 100%}
  @100%{font-size:0%}
}
#button_single{
  background-color: #F2F2F2;
  border-radius:12rem 0rem 0rem 12rem;
  padding:5% 0%;
  transition-duration:0.2s;
  color:#BF0426;
  border:none;
}
@keyframes single_transition {
  100%{width:10%;font-size:2rem;}
}
#button_single:hover{
  filter: drop-shadow(0 0px 15px white);
}
#single_match{
  width:0%;
  background-color: transparent;
  color:transparent;
  height:0rem;
  border-radius: 0rem 1rem 1rem 1rem;
  font-size:0rem;
  cursor:default;
  padding-left:3%;
}
@keyframes show_quiz {
  70%{width:70%;box-shadow:0px 0px 20px #F2F2F2;height:0rem;font-size:0rem;}
  100%{height:40rem;box-shadow:0px 0px 20px #F2F2F2;font-size:2rem;background-color: #F2F2F2;color:black;width:70%;}
}
#button_multi{
  background-color: #BF0426;
  border-radius: 0rem 12rem 12rem 0rem;
  transition-duration:0.2s;
  color:#F2F2F2;
  padding:5% 0%;
  border:none;
  }
  @keyframes mult_transition {
    100%{width:0%;font-size:2rem;}
  }
  #button_multi:hover{
  filter: drop-shadow(0 0px 15px #BF0426);
}
#question{
  margin-bottom:5%;
}
.butt{
  padding:2% 3%;
  font-family: Bahiana;
  border:2px solid white;
  font-size:150%;
  border-radius: 2rem;
  background-color: red;
  color:white;
  transition-duration:0.3s;
  cursor:pointer;
}
.butt:hover{
  background-color:rgba(170,0,0,1);
  box-shadow:0px 0px 5px rgba(0,0,255,0.4);
}

#submit_btnn{
  padding:2%;
  background-color: #2A6DA6;
  color:white;
  font-weight: bold;
  transition-duration: 0.3s;
  border-radius:50rem;
  border:none;
}
#submit_btnn:hover{
  background-color: red;
}

#logout{
  text-decoration: none;
  position:fixed;
  font-size:150%;
  color:white;
  top:85%;
  left:45%;
  transition-duration:0.3s;
  padding:1% 2%;
  border-radius:50rem;
  background-color:#00B2EE;

}
#logout:hover{
  font-size: 200%;
  transform:translate(-1rem,-0.5rem);
}
#admin{
  position:fixed;
  background-color:#D9043D;
  color: #F2F2F2;
  top:0%;
  padding-top:5%;
  z-index:2;
  border-radius:0rem 0rem 2rem 2rem;
  padding:2% 2%;
  font-size:200%;
  display:none;
  cursor: pointer;
  transition-duration: 0.3s;
  transform:translateY(-1rem);
  box-shadow:0.6rem 0.6rem 0.6rem rgba(0,0,0,0.4);
}
#admin:hover{
  transform:translateY(0rem);
}
modal.fade:not(.in) .modal-dialog {
    transform: translate3d(0%, 0, 0);
}
