/*html {
  height: 100%;
}*/

* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: INLINE STYlING IN main.handelbars ;*/
  height: 100%;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FE000C;
  font-size: 2rem;
  text-shadow: 0.51px 0.51px 1.2px black;
}

.quizmania {
  color: #FE000C;
  text-shadow: 0 0 1px #FE000C, 0 0 1px #FE000C;
  font-family: 'Pangolin', cursive;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

button {
  /*background-color: white;*/
  border-bottom: 0.7rem solid;
  border-color: white;
  border-radius: 3%;
  padding: 1.2em 4em;
  margin: 1em;
  color: #FE000C;
  box-shadow: 1px 1px 5px black;
  font-size: 2rem;
  z-index: 2;
  transition: background-color 0.2s ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

a {
  color: #00B7FF;
}

.glowing {
  filter: drop-shadow(0 0px 15px blue);
  transform: translateY(-700px);
}

.overlay {
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.35);*/
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

button:hover {
  background-color: rgba(241, 7, 7, 0.35);
  cursor: pointer;
}

.butt {
  background-color: transparent
}

#logo {
  width: 40%;
  margin-top: 17%;
  margin-bottom: 7%;
  transition-duration: 0.4s;
}

.right {
  float: right !important;
}
