<link rel="stylesheet" href="css/leaderboards.css">
<script type="text/javascript">
  var results
  $.get("/leaderboards")
    .done((res) => {
      var first = true;
      for(var i=0;i<5;i++) {
        if(first){first=false;$("#allTimeTopScore").html(Math.floor(res.values[i].score));}
        console.log(res.values[i]);
        $("#name_"+i).html(res.values[i].quizTaker.fullName);
        $("#score_"+i).html(res.values[i].score);
      }
    })

</script>

<!-- <div align="center" class="table">
<table class="responstable" id="table">

<tr>
 <th data-th="Leaderboards"><span>Email</span></th>
 <th align="center">Full Name</th>
 <th align="center">Score</th>
</tr>

 </table> -->
