<link rel="stylesheet" href="css/leaderboards.css">
<script type="text/javascript">
  var results
  $.get("/leaderboards")
    .done((res) => {
      const count = res.count
      const table = $("#table")
      var first = true;
      for(let value of res.values) {
        if(first){first=false;$("#allTimeTopScore").html(Math.floor(value.score));}
        let tr  = $("<tr></tr>")

        tr.append(`<td>${value.quizTaker.email}</td>`)
        tr.append(`<td>${value.quizTaker.fullName}</td>`)
        tr.append(`<td>${Math.floor(value.score)}</td>`)
        table.append(tr);
      }
    })

</script>

<div align="center" class="table">
<table class="responstable" id="table">

<tr>
 <th data-th="Leaderboards"><span>Email</span></th>
 <th align="center">Full Name</th>
 <th align="center">Score</th>
</tr>

 </table>
