<div id="home" class="container-fluid">
  <div id="trophy">
    <img class="center-block" id="trophy_img" src="/img/tire.png" alt="Trophy">
    <p class="text-center">LEADERBOARDS</p>
  </div>
  <div id="admin">
    MUH ADMIN PRIVILEGESSS
  </div>
  <div id="clicks" class="center-block">
    <div id="button_single" class="col-xs-6">
      <p class="text-center">SINGLE</p>
    </div>
    <div id="button_multi" class="col-xs-6">
      <p class="text-center">MULTI</p>
    </div>
    <div id="single_match" class="col-xs-10">
      <h1>QUIZ LOOOOOL</h1>
    </div>
  </div>
  <a id="logout" class="text-center" href="/logout">Logout</a>
</div>
