<div id="home" class="container-fluid">
  <div id="trophy">
    <img class="center-block" id="trophy_img" src="/img/tire.png" alt="Trophy">
    <p class="text-center">LEADERBOARDS</p><br>
    <div>
      <p class="leadz"><span class="numbers" style="background-color:#ffd700;color:white;">1</span><span class="names" id="name_0"></span><span class="scores" id="score_0"></span></p>
      <p class="leadz"><span class="numbers" style="background-color:#c0c0c0;color:white;">2</span><span class="names" id="name_1"></span><span class="scores" id="score_1"></span></p>
      <p class="leadz"><span class="numbers" style="background-color:#cd7f32;color:white;">3</span><span class="names" id="name_2"></span><span class="scores" id="score_2"></span></p>
      <p class="leadz"><span class="numbers">4</span><span class="names" id="name_3"></span><span class="scores" id="score_3"></span></p>
      <p class="leadz"><span class="numbers">5</span><span class="names" id="name_4"></span><span class="scores" id="score_4"></span></p>

    </div>
  </div>
  <div id="countdown">
    60
  </div>
  <div id="admin" data-toggle="modal" data-target="#admin_login">
    MUH ADMIN PRIVILEGESSS
  </div>
  <div id="admin_login" class="modal fade page" role="dialog">
       <div class="modal-dialog">
       <div class="modal-content">
       <h1 class="">Admin Privileges</h1>
       <div class="modal-body">
         <h1>Insert stuff</h1>

       </div>
      </div>
     </div>
   </div>
   <img src="/img/logo.png" alt="ExxonMobil" style="width:30%;margin-top:5%;" class="center-block">
  <div id="clicks" class="center-block">
    <div id="button_single" class="col-xs-6">
      <p class="text-center">SINGLE</p>
    </div>
    <div id="button_multi" class="col-xs-6">
      <p class="text-center">MULTI</p>
    </div>
    <div id="single_match" class="col-xs-10">
      <p class="text-center" style="margin-top:4%;color:red;font-size:200%;font-family:Bahiana;font-weight:bold;">Single Player Match</p>
      <p style="margin-top:4%;">Can you beat the top score and ascend through the ranks?</p>
      <p style="font-weight:bold">Your top score: <span id="yourTopScore" style="color:#2A6DA6"></span></p>
      <p style="font-weight:bold">All Time top score: <span id="allTimeTopScore" style="color:red"></span></p>
      <button id="submit_btnn" class="center-block">START QUIZ</button>
    </div>
    <div id="multi_match" class="col-xs-10">
      <p class="text-center" style="margin-top:4%;color:red;font-size:200%;font-family:Bahiana;font-weight:bold;">Multiplayer Match</p>
      <p style="margin-top:4%;">Challenge other players in a battle of wits to find out who is the ExxonMobil Quiz Champion! </p>
      <div style="margin-top:10%">
        <p id="create_room" class="col-xs-6 text-center" style="font-weight:bold;">CREATE ROOM</p>
        <p id="join_room" class="col-xs-6 text-center" style="font-weight:bold;">JOIN ROOM</p>
      </div>
    </div>
  </div>
  <a id="logout" class="text-center" href="/logout">Logout</a>
</div>
