<div id="home" class="container-fluid">
  <div id="trophy">
    <img class="center-block" id="trophy_img" src="/img/tire.png" alt="Trophy">
    <p class="text-center">LEADERBOARDS</p>
  </div>
  <div id="clicks" CLASS="center-block">
    <div id="button_single" class="col-xs-6">
      <p class="text-center">SINGLE PLAYER</p>
    </div>
    <div id="button_multi" class="col-xs-6">
      <p class="text-center">MULTIPLAYER</p>
    </div>
  </div>
  <a href="/logout">Logout?</a>
</div>
