<div id="home" class="container-fluid">
  <div id="trophy">
    <img class="center-block" id="trophy_img" src="/img/tire.png" alt="Trophy">
    <p class="text-center">LEADERBOARDS</p>
  </div>
  <div id="admin" data-toggle="modal" data-target="#admin_login">
    MUH ADMIN PRIVILEGESSS
  </div>
  <div id="admin_login" class="modal fade page" role="dialog">
       <div class="modal-dialog">
       <div class="modal-content">
       <h1 class="">Admin Privileges</h1>
       <div class="modal-body">
         <h1>Insert stuff</h1>

       </div>

      </div>
     </div>
   </div>
  <div id="clicks" class="center-block">
    <div id="button_single" class="col-xs-6">
      <p class="text-center">SINGLE</p>
    </div>
    <div id="button_multi" class="col-xs-6">
      <p class="text-center">MULTI</p>
    </div>
    <div id="single_match" class="col-xs-10">
      <p class="text-center" style="margin-top:7%;color:red;font-size:200%;font-family:Lato">Single Player Match</p>
      <p id="questions"></p>
    </div>
  </div>
  <a id="logout" class="text-center" href="/logout">Logout</a>
</div>
