<div class="container-fluid">
  <div id="trophy">
    <img class="center-block" id="trophy_img" src="/img/tire.png" alt="Trophy">
    <p class="text-center">LEADERBOARDS</p>
  </div>
  <a href="/logout">Logout?</a>
</div>
