<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{> essentials}}
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <div>
      <p id="error">E<span>r</span>ror</p>
      <p id="code"></p>
    </div>
    <script type="text/javascript">
      var status = "{{status}}"
      var message = "{{message}}"
      var value = status.toString()
      $("#code").append(value[0])
      var span1 = $(`<span>${value[1]}</span>`)
      var span2 = $(`<span>${value[2]}</span>`)
      var p = $(`<p>${message}</p>`)
      $("#code").append(span1)
      $("#code").append(span2)
      $("#code").append(p)
      console.log(status)
    </script>
  </body>
</html>
