<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/multiplayer.css">
    {{> essentials}}
    <script type="text/javascript">
    var decodedJSON = decodeURIComponent("{{{userJSON}}}")
    var user = JSON.parse(decodedJSON)
    </script>
    <script type="text/javascript" src="/js/home_ctrl.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{> welcome}}
    <div style="display:none;margin-right:4%;float:right">
      {{> leaderboards}}
    </div>
  </body>
</html>
