<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
    {{> essentials}}
    <script type="text/javascript" src="/js/home_ctrl.js"></script>
    <title></title>
  </head>
  <body>
    {{> welcome}}
    <div style="margin-right:4%;float:right">
      {{> leaderboards}}
    </div>
  </body>
</html>
