<header>
  <div class="container-fluid" style="display:flex; flex-direction:column">
    <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Exxon_Mobil_Logo.svg/2000px-Exxon_Mobil_Logo.svg.png" class="center-block glowing" alt="ExxonMobil Logo">
    <h1>{{user}}</h1>
    <div class="row">
      <div class="col-xs-6">
        <button type="`button`" class="butt center-block animated  tada" name="button" data-toggle="modal" href="#login_div">Login</button>
      </div>
      <div class="col-xs-6">
        <button type="`button`" class="butt center-block animated infinite tada" name="button" data-toggle="modal" href="#register_div">Register</button>
      </div>
    </div>

      <div id="login_div" class="modal fade shake page" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content login_modal">

          <div class="modal-body">
            <h1 class="modal-header">Login</h1><br />
          <span ng-style="{'color':'#cc0000'}">
            {{error_login}}
          </span>
            <br />
            <form action='/signin' method='POST' novalidate>
             <input class="form-control login_search" name="email" placeholder="Email" autofocus required /><br />
             <a style="float:right;cursor:pointer" data-toggle="modal" data-target="#forgot-password">Forgot your password?</a>

             <input class="form-control login_search" name="password" placeholder="Password" type="password" required /><br />
             <button class="home_submit btn" type="submit">Login</button><br />
            </form>
          </div>
        </div>
       </div>
    </div>

    <div id="register_div" class="modal fade shake page" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content register_modal">

        <div  id="modal" class="modal-body">
          <h1 class="modal-header">Register</h1><br />
        <span ng-style="{'color':'#cc0000'}">
          {{error_login}}
        </span>
          <br />
          <form id="yo" action="/signup" method="POST" novalidate>
            <input class="form-control register_search" name="firstName" placeholder="First Name" autofocus required /><br />
            <input class="form-control register_search" name="lastName" placeholder="Last Name" autofocus required /><br />
            <input class="form-control register_search" name="email" placeholder="Email" autofocus required /><br />
           <input class="form-control register_search" name="password" placeholder="Password" type="password" required /><br />
           <button class="home_submit btn" type="submit" >Sign Up</button><br />
          </form>
        </div>
      </div>
     </div>
  </div>

  </div>
  </header>
