<header>
  <div class="overlay">
  </div>
  <h2>Hello Mr. Owner of ExxonMobil</h2>
  <p>Welcome to our beautiful website <br> Made with love by Mushroom Software</p>
  <button type="button" name="button" class="signup">Sign up</button>
  <button type="button" name="button" class="login">Login</button>
</header>
