
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <link href="css/jquery.funnyText.css" rel="stylesheet">



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/jquery.funnyText.min.js" type="text/javascript"></script>

  <script src="js/index_ctrl.js" type="text/javascript"></script>


  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
<header>
  <div class="container-fluid" style="display:flex; flex-direction:column">
      {{#if user}}
        <a style="float:right" href="/logout"> <button type="button" class="btn btn-primary" name="button">Logout</button></a>
        {{/if}}

    <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Exxon_Mobil_Logo.svg/2000px-Exxon_Mobil_Logo.svg.png" class="center-block glowing" alt="ExxonMobil Logo">

     <!-- <h1 class="quizmania">QUIZMANIA</h1> -->
    {{#if user}}
      <h1>{{user.firstName}} {{user.lastName}}</h1>
      
    {{else}}

    <div>
      <input style="display:none" type="text" name="fakeusernameremembered"/>
      <input style="display:none" type="password" name="fakepasswordremembered"/>

      <p><h1><span id="login_text" class="check_text0">Login</span> <img id="check" src="../img/tire.png" /> <span class="check_text1" id="reg_text">Register</span></h1></p>
      <form id="log_reg">
        <span id="err">*Must be a valid exxonmobil email</span>
      <input class="center-block login_form" type="text" name="email" readonly onfocus="this.removeAttribute('readonly')" size="45"  placeholder="E-Mail Address"><br>
      <input class="center-block login_form" name="password" type="password" size="45" placeholder="Password"><br>
        <div class="form-inline">
          <input class="reg_fields login_form" name="firstName" style="margin-right:1%;display:none" type="text" placeholder="First name">
          <input class="reg_fields  login_form" name="lastName" style="margin-left:1%;margin-bottom:1.5%;display:none" type="text" placeholder="Last name">
        </div>
      </form>
      <div class="row">

          <button id="submit_btn" type="button" name="button">SUBMIT</button>

      </div>

    </div>
    {{/if}}


 </div>
</header>
</body>
